@use "../abstracts/variables" as var;

.text-content {
    padding: 3rem;

    h1 {
        font-size: 1.5rem;
        color: var.$very-dark-grayish-blue;
    }

    .comment {
        padding: 1rem 0;
        font-size: var.$main-font-size;
    }
}