@use "../abstracts/variables" as var;

body {
    min-height: 100vh;
    background-color: var.$light-grayish-blue;
    font-family: var.$theme-text-font;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    
    .content {
        max-width: 730px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

}
